{% extends "base.html.twig" %}

{% block body %}

<h1 class="title">Geometry Calculator</h1>

<a href="{{ path('triangle') }}"><h2 class="link">Calculate surface of a triangle</h2></a>
<a href="{{ path('circle') }}"><h2 class="link">Calculate diameter of a circle</h2></a>

{% endblock %}