{% extends "base.html.twig" %}

{% block body %}

<h1 class="title">Geometry Calculator</h1>

<a href=""><h2 class="link">Calculate surface of triangle</h2></a>
<a href=""><h2 class="link">Calculate diameter of circle</h2></a>

{% endblock %}